body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232323;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

label {
    margin-bottom: 10px;
    color: white;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 1em;
}

.deleteInput{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

button[type="submit"] {
    height: 2.5rem;
    width: 6em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.algnBtn{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn {
    background-color: #7e1efc;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #232323;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
