<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control de Administrador</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
</head>
<body>
    <div class="admin-panel">
        <h1>Panel de Control - <span class="change">ARCHON ALLIANCE</span></h1>
        <div class="admin-buttons">
            <a href="/admin/users" class="admin-button">Ver / Eliminar <span class="change">USUARIOS</span></a>
            <a href="/admin/userById" class="admin-button">Eliminar por <span class="change">ID</span></a>
        </div>
    </div>
</body>
</html>
