<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrar por ID</title>
  <script src="/js/actionPerformsEndpoint.js"></script>
  <link rel="stylesheet" href="/css/admin_user_id.css">
</head>
<body>
<h1>Borrar por ID</h1>
<div class="container">
  <form id="deleteUserForm" method="post">
    <label for="id">ID de Usuario:</label>
    <input type="text" id="id" name="playerId" required>
    <button onclick="setAction()" type="submit">Eliminar</button>
  </form>

  <div class="algnBtn">
    <a href="/admin" class="btn">Volver</a>
  </div>


</div>
</body>
</html>
