<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div id="page">
  <div id="blob-loader">
    <div class="alignErrorMsg">
      <img src="/playerNotFoundImg.png" alt="logo" class="PNF">
    </div>
    <div class="sp_loader__wrapper">
      <div class="sp_slime__wrapper">
        <div class="sp_slime__outline"></div>
        <div class="sp_slime__outline_ends">
          <div class="sp_slime__outline_end"></div>
          <div class="sp_slime__outline_end"></div>
        </div>
        <div class="sp_slime__eyes">
          <div class="sp_slime__eye"></div>
          <div class="sp_slime__eye"></div>
        </div>
      </div>
      <div class="sp_ground_line__wrapper">
        <div class="sp_ground_line"></div>
        <div class="sp_ground_line__ends">
          <div class="sp_ground_line__end"></div>
          <div class="sp_ground_line__end"></div>
        </div>
      </div>
      <div class="sp_element__wrapper">
        <div class="sp_elements">
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_anemo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_cryo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_dendro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_electro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_geo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_hydro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_pyro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_anemo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_cryo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_dendro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_electro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_geo.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_hydro.png" alt="">
            </div>
          </div>
          <div class="sp_element">
            <div class="sp_element__icon">
              <img src="https://genshin-world.com/build/assets/static/ui/element_pyro.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="algnErrBtn">
    <a class="errorBtn" href="/admin/userId">Volver</a>
  </div>
</div>



</body>
</html>